@tailwind base;
@tailwind components;
@tailwind utilities;

.side-nav {
  grid-row: 1 / -1;
  background-color: #1a1a1a;
  overflow: auto;
  min-height: 100%;
  height: 100vh;
}

.business-side-nav {
  grid-row: 1 / -1;
  background-color: #ffffff;
  overflow: auto;
  min-height: 100%;
  height: 100vh;
}

.business-side-nav ::-webkit-scrollbar {
  background-color: #ffffff;
  width: 6px;
}

.business-side-nav ::-webkit-scrollbar-thumb {
  background-color: #bebfc5;
  border-radius: 10px;
}

@layer utilities {
  /* body {
    @apply bg-white text-typo-200 dark:bg-dark-650 dark:text-light-300;
  } */
  /* .container {
    @apply m-[0_auto] w-90 max-w-[1440px] px-0  md:w-85 xl:w-3/4;
  } */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
